.Button {
  min-width: 130px;
  display: block;
  margin: 20px auto;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border-radius: 20px;
  border: 2px solid #2c0b8e;
  background: #2c0b8e;
  z-index: 10000;
}

.Button:hover {
  background: #fff;
  color: #2c0b8e;
}
